@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.calculator
{
    position: relative;
    display: grid;
}
.calculator .value
{
    grid-column: span 4;
    height: 100px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span
{
    display: grid;
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    background: #383838;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}
.calculator span:active
{
    background: #5c5c5c;
    color: #111;
}
.calculator span.clear
{
    grid-column: span 2;
    width: 120px;
}
.calculator span.plus
{
    grid-row: span 2;
    height: 120px;
}